      img {
  border: 5px solid #555;
}
        h1 {text-align: center;}
h1 {
          top: 0;
          right: 0;
          width: 100%;
          background: black;
}
h1 {
    color: rgb(255, 255, 255)
        }
        #tableau {
            color: rgb(255, 255, 255)
            position: fixed;
            top: 0;
            right: 0;
            height: 22%;
            width:11%;
            background: white;

        }
        #poem {text-align: left;}

        #cadillac {
          position: fixed;
          right: 0;
        }
        #text {
          font-family: Georgia;
        }
        #instructions {
          position: fixed;
          right: 1;
          text-align: right;
        }
